* {
  box-sizing: border-box;
  background-color: lightcyan;
}

body {
  font-family: helvetica;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 250px, 250px;
  width: 480px;
  margin: auto; 
}

div {
border: 1px burlywood solid;
display: flex;
align-items: center;
justify-content: center;


}

